[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=ubuntu
ExecStart=/usr/bin/env python3 ../../../aps-cloud/mongoConn.py

[Install]
WantedBy=multi-user.target
